<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PHP分页类</title>
<link href="<{$Template_Dir}>/css/common.css"  rel="stylesheet" type="text/css">
<link href="<{$Template_Dir}>/css/style1.css"  rel="stylesheet" type="text/css">
<script id="jq" src="<{$Template_Dir}>/js/jquery-1.8.3.min.js"></script>
</head>
<body>

	<div id="list">
		
		<ul id="newsul">
			
			<{foreach $rowsArray as $val}>
				<li><{$val['title']}></li>
			<{/foreach}>

		</ul>

	</div>
	<div id="page"><{$mypage}></div>
	<input id="pageNow" type="hidden" value="<{$pageNow}>">
	<!--分页方式-->
	<input id="page_act" type="hidden" value="<{$page_act}>">
	<!--每页几条数据-->
	<input id="perpageNum" type="hidden" value="<{$perpageNum}>">
	<!--总页数-->
	<input id="totalPage" type="hidden" value="<{$totalPage}>">
	<!--//把smarty的变量传递给外部js-->
	<input id="Template_Dir" type="hidden" value="<{$Template_Dir}>">
	<input id="preFonts" type="hidden" value="<{$preFonts}>">
</body>
<script>

	$(function(){
	
		//遍历a
		$(".pagenum").each(function(){
		
			if($(this).text() == $("#pageNow").val()){
		
				$(this).addClass("selected");
			}
		});
		
		//如果存在跳转输入框
		if($("#skip").length>0){
		
			$("#skip").keydown(function(){
			
				if(event.keyCode == 13){ //回车
				
					self.location="demo.php?p="+$(this).val();
				}
			});
		}

		//点击"GO"按钮跳转
		if($("#go").length>0){
		
			$("#go").click(function(){
			
				self.location="demo.php?p="+$("#skip").val();
			});
		}
		
		//如果分页方式是ajax，则加载外部ajax.js
		if($("#page_act").val() == 1){
		
			//把smarty的变量传递给外部js
			$Template_Dir = $("#Template_Dir").val();
			$preFonts = $("#preFonts").val();

			$insertAjax = $("<script src=\"<{$Template_Dir}>/js/ajax.js\"><\/script>");
			$insertAjax.insertAfter($("#jq"));
		}

		//最后一行row去掉border-bottom
		$("#list ul").children("li:last").css("border-bottom",0);
	});
</script>
</html>



